@model Wiki.Models.Biz.Article

@{
    ViewBag.Title = "Ajouter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("ajouter","Home",FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contenu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Contenu, new { @style = "width:280px;height:60px" })
                @Html.ValidationMessageFor(model => model.Contenu, "", new { @class = "text-danger" })
            </div>
   
        </div>

        <div class="form-group">
            @Html.Partial("Apercu")
        </div>

           <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="Enregistrer" value="Enregistrer" class="btn btn-default" />
                        <input type="submit" name="Apercu" value="Apercu" class="btn btn-default" />
                    </div>
                </div>
       </div>
  }


<div>
    @Html.ActionLink("Annuler", "Index")
</div>
